@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class = "mainText">
    <h1 class="display-4 text-capitalize text-black">Welcome to Razzor Sharp Pizza</h1>
    <h3 class="mainSubtitle">Razzor Sharp Pizzas, is the Pizza for you and me!</h3>
    </div>
    <img class="mainImage" src="~/images/PizzaTime.jpg" />
    <br />
    <a class="btn btn-primary mt-1" asp-area="" asp-page="Forms/CustomPizza">BRING ME THAT PIZZA</a>

</div>
